* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner {
    width: 90vw;
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f7f5;
    color: #643754;
    margin-bottom: 15px;
}

.banner > p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.banner > i {
    position: absolute;
    right: 10px;
    /* color: #7ba495; */
    top: 10px;
}

.app__title {
    color: #643754;
    align-self: flex-start;
    margin: 10px 0 10px 5vw;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Lobster", cursive;
    font-size: 24px;
}

.app__container {
    background-color: #bdd7cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.main {
    display: flex;
    height: 85vh;
    width: 90vw;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie__results {
    flex: 2;
    height: 100%;
    background-color: #f1f7f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px;
}

.movie__search__container {
    width: 100%;
    margin: 10px 20px 0 8px;
    text-align: center;
    border: 1px solid #643754;
    border-radius: 5px;
    color: #643754;
    display: flex;
    padding: 0 5px 0 10px;
    align-items: center;
}

.movie__search {
    width: 80%;
    margin: 0 5px;
    padding: 0 10px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: none;
}

.movie__search::placeholder {
    color: #643754;
}

.movie__list {
    color: #868887;
    height: 67vh;
    overflow-y: overlay;
    padding: 0 20px;
    margin-top: 10px;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}


.nom__movies {
    background-color: #f8fcfb;
    height: 100%;
    flex: 1.3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 1%;
}

.nom__list{
  position: relative;
  overflow-y: overlay;
  height: 67vh;
  padding: 0 10px;
}


@media screen and (max-width: 1100px) {
    .main, .banner {
        width: 95vw;
    }


    .nom__movie__item__image__wrapper {
        min-width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 860px) {
    .movie__list {
        padding-left: 0;
    }

    .movie__list__item{
      width: 45%;
    }  

    .nom__movie__item__image__wrapper {
      min-width: 60px;
      height: 60px;
  }

  .nom__movies {
    flex: 1.7;
}


}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(173, 199, 190, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(173, 199, 190, 0.4);
}
